
*{
    background:#fafafa;
    margin: 0;
    padding: 0;
}


@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";



#contenedor{
    width: 1200px;
    height: 1000px;
    /*background: #D8D8D8;*/
    margin: 0.5em auto;
    padding: 0.5em;
    border-radius: 1em;
    /*box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);*/
    box-shadow: 10px 10px 50px 1px #7c7c81;
    
    
}

#header{
    height: 15%;
    background-color: #fff;
    border-radius: 1em;
    margin: 1em;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
   
    
}


#contenido{
    height:63%;
    /*background: #FFFFFF;*/
    margin: 1em;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    border-radius: 1em;
}

#footer{
    
    height: 15%;
    background-color: #fff;
    border-radius: 1em;
    margin: 1em;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    
}

#section{
    height: 95%;
    width: 99%;
    border-radius: 1em;    
    margin: 0.5em;
    background-color: #fff;
    
    
    
}

#img{
    width: 100%;
    height: 100%;
    border-radius: 1em;    
}

#imgCero3{
    width: 140px;
    height: 90px;
    position: absolute;
    margin-left: 90px;
    margin-top: 40px;
    /*visibility: hidden;*/
    
}

#imgCero2{
    width: 140px;
    height: 90px;
    position: absolute;
    margin-left: 90px;
    margin-top: 40px;
    /*visibility: hidden;*/
    
}

#imgCero1{
    width: 140px;
    height: 90px;
    position: absolute;
    margin-left: 90px;
    margin-top: 40px;
    /*visibility: hidden;*/
    
}


#contenedorCarrousel{
    height: 600px;
    width: 760px;
    
}

.contenidoNiveles {
    width: 321px;
    height: 541px;
    background-color: #fff;
    display: inline-block;
    border-radius: 10px;
    box-shadow: 10px 10px 50px 1px #7c7c81;
}

.ContenedorGeneral{
    width: 950px;
    height: 100px;
    display: inline-flex;
    background-color: #fff;
    margin-left: 110px;
    margin-top: 20px;
    
}

.contenedorNivel3{
    width: 320px;
    height: 180px;
    border-radius: 10px;
}

.contenedorNivel2{
    width: 320px;
    height: 180px;
    
}

.contenedorNivel1{
    width: 320px;
    height: 180px;
    border-radius: 10px;
}

.nivel3 {
    width: 200px;
    height: 180px;
    border: 1px solid gray;
    padding-left: 5em;
    padding-top: 3em;
    display: inline-block;
    margin-left: 5px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 10px 1px 50px 1px #7c7c81;
    
}

.nivel2 {
    width: 200px;
    height: 180px;
    border: 1px solid gray;
    padding-left: 1.6em;
    padding-top: 3em;
    display: inline-block;
    box-shadow: 5px 1px 60px 1px #7c7c81;
    
    
}

.nivel1 {
    width: 200px;
    height: 180px;
    border: 1px solid gray;
    padding-left: 1.6em;
    padding-top: 3em;
    display:inline-block;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 5px 1px 60px 1px #7c7c81;
    
}

.circulo {
    width: 25px;
    height: 25px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: black;
    display: inline-block;
    margin: 0.2em;
    border: 1px solid #555;
    visibility: hidden;
}

.barra {
    width: 130px;
    height: 15px;
    border: 1px solid #555;
    background-color: black;
    display: block;
    margin-bottom: 0.2em;
    margin-left: 0.23em;
    border-radius: 10px;
    visibility: hidden;
}

.botonCirculo {
    height: 30px;
    width: 50px;
    background: #fff;
    border-radius: 10px;
    display: inline-block;
    border: 2px solid gray;

    
}



.botonBarra {
    height: 30px;
    width: 50px;
    background: #fff;
    border-radius: 10px;
    display: inline-block;
    border: 2px solid gray;
    
}


.ContenedorNumeroArabigo{
width: 200px;
    height: 180px;
    border: 1px solid gray;
    display: inline-block;    
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 10px 1px 50px 1px #7c7c81; 
    display: inline-block;
    margin-left: 170px;
    margin-top: 180px;
    border-radius: 10px;
    
}

.numeroArabigo{
    height: 200px;
    width: 200px;
    font-family: monospace;
    font-size: 100px;
    display:inline-flex;
    color: black;
    border-radius: 10px;
        
}

/*.contenedorBotonForm{
    width: 80px;
    height: 40px;
    display: inline-block;
    margin-left: 150px;
    margin-top: 10px;
    font-family: monospace;
}*/

#botonForm{
    border: 1px solid gray;
}

#botonControlCirculoIzq_Superior{
    display: inline-block;
    
}

#botonControlCirculoDer_Superior{
    display: inline-block;
}

#botonControlCirculoIzq_Medio{
    display: block;
}

#botonControlBarraIzq_Medio{
    display: block;
    margin-top: 5px;
}

#botonControlCirculoDer_Medio{
   display: block;
}

#botonControlBarraDer_Medio{
    display: block;
    margin-top: 5px;
    
}

.botonesIzquierdosNivel2{
    width: 55px;
    height: 70px;
    display: inline-block;
    
}

.botonesDerechosNivel2{
    width: 55px;
    height: 70px;
    display: inline-block;
    
    
}

.botonesIzquierdosNivel1{
    width: 55px;
    height: 70px;
    display: inline-block;
    
}

.botonesDerechosNivel1{
    width: 55px;
    height: 70px;
    display: inline-block;
    
    
}



